
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
</head>
<body>
    <div>
        <center>
            <h1 class="text-danger">Error 404</h1>
            <h2 class="text-danger">The request url is not valid</h2>
        </center>
    </div>
</body>
</html>
