
@{
    ViewBag.Title = "BuyOrClaim";
}
    <div class="container">
        <div>
            <div class="col-md-12">
                <a href="~/Home/ClaimInsurance"><img src="~/Images/claimInsurance.png" style="height:100%;width:49.8%" /></a>
                <a href="~/Home/InsuranceEcommerce"><img src="~/Images/purchaseInsurance.png" style="height:100%;width:49.8%" /></a>
            </div>  
        </div>
    </div>


