
@{
    ViewBag.Title = "DailyRewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var endTime = DateTime.UtcNow.AddSeconds(15);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;
}

<h2>DailyRewards</h2>


<div>Time Remaining : <span id="minRemaining"></span>:<span id="secRemaining"></span></div>
<text> Timer </text>






<script>
    var remSeconds = @timeRemaining;
    var secondsCounter = remSeconds % 60;

    function formatNumber(number)
    {
        if (number < 10) return '0' + number;
        else return '' + number;
    }
    function startTick() {
        document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
        document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds/60));


        var _tick = setInterval(function ()
        {
            if (remSeconds > 0) {
                remSeconds = remSeconds - 1;
                secondsCounter = secondsCounter - 1;
                document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
                document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds / 60));
                if (secondsCounter == 0)
                    secondsCounter = 60;
            }
            else {
                alert("This is your promo code");
                clearInterval(_tick);

            }
        }, 1000);

    }
    startTick();
</script>








