
@{
    ViewBag.Title = "GenerateClaimToken";
}

<div class="container">
    <h2>GenerateClaimToken</h2>
    <h4>You have successfully submitted your claim form. Your Claim Number is : @TempData["ClaimToken"]</h4>
    <p>(You may refer to your profile page for the claim number)</p>
</div>