@model PMDWebApplication.Models.Home.HomeInsuranceViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Insurance";
    Layout = "~/Views/Shared/Ecommerce.cshtml";
}

<div class="container">

    <div class="olContent f1"><h2 style="color:black">Search Product/Category</h2></div>
    <form method="post">
        <div class="olSearch fr">
            <input type="text" placeholder="Enter Keyword" name="search" class="inputComn houseText form-control" />
            <div class="searchIcon">
                <button type="submit" class="searchBtn">
                    <img src="~/Images/searchIcon.png" />
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Our Insurances</h2>
            </div>
        </div>
    </div>

    <div class="row product-container">
        @foreach (var item in Model.ListOfInsurance)
        {
            <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
                <div class="thumbnail product-item" style="height:300px">

                    <img class="img-responsive" title="Click to View Product detail"
                         style="cursor:pointer;height:160px;width:100%"
                         src="~/InsuranceImg/@item.InsuranceImage" />

                    <div class="caption">
                        <h5>@item.InsuranceName</h5>
                        <p>@item.Price $</p>
                        <p>
                            @Html.ActionLink(" ", "ViewInsurance", new { InsuranceId = item.InsuranceId }, new { @class = "pull-right fa fa-shopping-cart" })
                        <p>Available</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container">
    @Html.PagedListPager(Model.ListOfInsurance, page => Url.Action("Ecommerce", new { page, searchByInsurance = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
</div>

