
@{
    ViewBag.Title = "OurPartners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container">
        <div style="margin:0 auto;text-align:center">
        <h1>OurPartners</h1>

        <p> Vervoer works with companies such as SPF and LTA to help keep the pathway safe to use for both PMD rider and pedestrians. </p>

        <div class="row">
            <div class="column">
                <img class="menu-display" src="../Images/SPF_Ourpartners.jpg" alt="SPF" style="width:50%">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="column">
                    <img class="menu-display" src="../Images/lta_Ourpartners.png" alt="SPF" style="width:50%">
                </div>
            </div>
        </div>

        </div>
    </div>
