

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3>Take your quiz now and get certified!</h3>
    <br />


    <br /><br />
    <p>Each assessment is 10 questions long. This will be the format for all of the assessments.</p>
    <br />
    If you are ready to take the test, it can be accessed here @Html.ActionLink("Take PMD Test", "AllTests", "DualDatabaseTestSchemeTests").
    @*You can either access all custom tests there by clicking "take test", or by using the form below with the Id of your test which can be found there:*@
</div>







