@{
    ViewBag.Title = "Confirm Email";
}
    <div class="container">
        <h2>@ViewBag.Title.</h2>

        <div>
            <p>
                Your email has been confirmed successfully.
                @*Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                This makes no sense cause it is already auto logged in after confirming the email*@
            </p>
        </div>
    </div>
