
@{
    ViewBag.Title = "Mail";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

    <div class="container-fluid">
        <!---Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Mail", "Mail")

            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>
    </div>

