<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For Logging purposes -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AdE_CrMtpWszFSz1mLmnIpkA_NyaxAX3hzNM3jhwvHgJC0UEmsu-T-KbxEaDr60pH3eT59igMU8NfvmK" />
      <add name="clientSecret" value="EAShc2Luq2aWiyRnKGWYrm1N0f06B3ZqeoRktPPU8tfs8Fe9ZTAsTvBSpZsxVxuP6p1gzja_RDLNRKYU" />
    </settings>
  </paypal>
  <!-- For Logging purposes -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" fileName="logs/app-log.txt" archiveFileName="logs/archives/app-log.{#}.txt" archiveEvery="Month" archiveNumbering="Rolling" maxArchiveFiles="12" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PMDWebApplication-20191031032356.mdf;Initial Catalog=aspnet-PMDWebApplication-20191031032356;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="dbVervoerEntities" connectionString="metadata=res://*/DB.DB.csdl|res://*/DB.DB.ssdl|res://*/DB.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-PMDWebApplication-20191031032356.mdf;initial catalog=aspnet-PMDWebApplication-20191031032356;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <!--For modal validation-->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--For sending email-->
    <add key="Email" value="dummyacc4aspj@gmail.com" />
    <add key="Password" value="#strongp@ssw0rd" />
    
    <!--Twillo but not needed anymore-->
    <add key="TwilioAccountSid" value="AC51ad443e2b782db4add5da8ec4ff7b8b" />
    <add key="TwilioAuthToken" value="a89ca0f5a86dd1c81adc7a7e3ea41611" />

    <!--For sending sms-->
    <add key="TextLocalAPIKey" value="NykL+lDQACM-FFHcflCEtQWMIMcd1yVfVarnJT4ZIf" />
    
    <!--For sending sms (but left abit of creds only)-->
    <add key="ASPSMSUSERKEY" value="23MQFTV9QX9N" />
    <add key="ASPSMSPASSWORD" value="bNZ1y0nwV0Bg6BW1D4NflDLb" />
    <add key="ASPSMSORIGINATOR" value="+41790000000" />
    
    <!--VirusTotal API Key-->
    <add key="VIRUSTOTALAPIKEY" value="63e8d7385221367c48903b1480eeab1dd9c1bb709479ef888fd2dd884dbd7823" />
    
    <!--For Google Recaptcha API-->
    <add key="RECAPTCHASITEKEY" value="6Le6a8QUAAAAANtcYdfFpgHurRs0eywNXim0Tpb5" />
    <add key="RECAPTCHASECRETKEY" value="6LcUo8YUAAAAAK4SZ926WlfIhsuI0w4vw9f9RJid" />
    
    <!--TEST PURPOSE-->
    <add key="TESTKEY" value="abc" />

    <add key="PasswordLength" value="8" />
    <add key="RequireNonLetterOrDigit" value="False" />
    <add key="RequireDigit" value="False" />
    <add key="RequireLowercase" value="False" />
    <add key="RequireUppercase" value="False" />
    <add key="PasswordAttempts" value="5" />
    <add key="LockoutDuration" value="5" />
    <add key="InactiveDuration" value="15" />
    <add key="PasswordExpiry" value="45" />


  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="1" />
    <authentication mode="None" />
    <customErrors mode="On">
      <error statusCode="404" redirect="~/Error/NotFound"></error>
    </customErrors>
      <!--defaultRedirect-->
    <!--Bundling and minification is enabled or disabled by setting he value of the debug attribute in the 
    compilation element in the Web.config file - FoxLearn #7 Time = 7:00
    The previous value is debug = true, i changed it to false-->
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ASPSMSX2Soap">
          <security mode="Transport" />
        </binding>
        <binding name="ASPSMSX2Soap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ASPSMSX2Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://soap.aspsms.com/aspsmsx2.asmx" binding="basicHttpBinding" bindingConfiguration="ASPSMSX2Soap" contract="ASPSMSX2.ASPSMSX2Soap" name="ASPSMSX2Soap" />
      <endpoint address="https://soap.aspsms.com/aspsmsx2.asmx" binding="customBinding" bindingConfiguration="ASPSMSX2Soap12" contract="ASPSMSX2.ASPSMSX2Soap" name="ASPSMSX2Soap12" />
    </client>
  </system.serviceModel>
</configuration>